In [26]:
import pandas as pd

exchange = pd.read_csv('https://raw.githubusercontent.com/dhhagan/stocks/master/scripts/stock_info.csv')
print(nyse)
#nyse.Ticker
#nasdaq = exchange[exchange['Exchange'] == 'NASDAQ']
#print(list(nasdaq.Ticker))
#print(list(nasdaq.Name))

0         A
1        AA
2       AAN
3       AAT
4       AAV
       ...
3060    ZNH
3061    ZQK
3062    ZTR
3063    ZTS
3064     ZX
Name: Ticker, Length: 3065, dtype: object

In [16]:
nyse = exchange[exchange['Exchange'] == 'NYSE']
# nyse.Ticker
# nyse.Name

0                  Agilent Technologies
1                            Alcoa Inc.
2                           Aaron's Inc
3                 American Assets Trust
4               Advantage Oil & Gas Ltd
                     ...
3060    China Southern Airlines Company
3061                         Quiksilver
3062            Zweig Total Return Fund
3063    Zoetis Inc. Class A Common Stoc
3064     China Zenix Auto International
Name: Name, Length: 3065, dtype: object

In [3]:
exchange[exchange['Exchange'] == 'NASDAQ']

     Ticker                                   Name Exchange
3065   AAIT  AC Asia Information Tech MSCI Ishares   NASDAQ
3066   AAME                Atlantic American Corp.   NASDAQ
3067   AAON                                   Aaon   NASDAQ
3068   AAPL                             Apple Inc.   NASDAQ
3069   AAWW           Atlas Air Worldwide Holdings   NASDAQ
...     ...                                    ...      ...
5777     ZN                     Zion Oil & Gas Inc   NASDAQ
5778   ZNGA                             Zynga Inc.   NASDAQ
5779   ZOLT                       Zoltek Companies   NASDAQ
5780   ZOOM                      Zoom Technologies   NASDAQ
5781   ZUMZ                            Zumiez Inc.   NASDAQ

[2717 rows x 3 columns]